@import "reset";

$MainColor: #4c9ed9;
$WhiteColor: #FFFFFF;
$BlackColor: #5f6164;

$MixValue:0.2;
$DeepFontColor:#52606a ;//(#4c9ed9*$MixValue + #414141*(1 - $MixValue)); //#414141;

$LightColor: #F0F0F0;
$LineColor:  rgba($BlackColor, 0.1);


$NavHeight: 70px;
$SideWidth: 400px;
$SideWidth-s: 300px;

body {
	-moz-user-select : none;
	-webkit-user-select: none;
	user-select: none;
}

#app{
	text-align: center;
	outline: none;
	width: 100%;
	margin-left: -$SideWidth/2;

	transition-property: margin-left;
	transition-duration: 0.4s;

	&.sideBox-off{
		margin-left: 0;
	}
}

a{
	text-decoration-line: none !important;
	text-decoration: none !important;
}

.nav{
	display: inline-flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	vertical-align: middle;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $NavHeight;
	background-color: rgba($LightColor,0.95); 
	//box-shadow: 0 0 30px $WhiteColor ;
	box-sizing: border-box;
	padding:0 0px;
	z-index: 50;

	overflow: hidden;

	img{
		width: 30px;
		height: auto;
		display: inline;
		cursor: pointer;
		padding: 10px;
		margin: 10px;
		vertical-align: middle;
	}
	p{
		color: $MainColor;
		line-height: 50px;
		display: inline;
		cursor: pointer;
	}

	.nav-left{
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		align-items: center;
		justify-content: flex-start;
		text-align: left;
		height: $NavHeight;

		opacity: 0.9;



		.nav-title{

			display: flex;
			flex-direction: column;
			align-items: flex-start;

			margin-top: -70px;
			transition-property: margin-top;
			transition-duration: 0.2s;

			&.story-title-off{
				margin-top: 70px;
			}

			.nav-title-item{
				display: flex;
				align-items: center;
				justify-content: flex-start;
				line-height: $NavHeight;
				height: $NavHeight;
				min-height:  $NavHeight;
				max-height:  $NavHeight;
				width: 100%;
				max-width: 100%;
				padding-left: 20px;
			}
			.story-title{
				font-size: 18px;
				letter-spacing: 2px;
				font-weight: 500;
			}
			.logo-title{
				letter-spacing: 1px;
				line-height:  $NavHeight;
				height: $NavHeight;
			}

		}
	}
	.nav-right{
		flex-grow: 0;
		width: $NavHeight;
		justify-content: center;
		opacity: 0.9;
	}



}

.container{
	display: inline-block;
	width: 700px;
	padding: 70px 0;
}

.read-bottom{

	display: inline-flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	width: 100%;
	height: 180px;

	.read-bottom-left{

		flex-grow: 1;
		justify-content: flex-start;
		text-align: left;
	}
	.read-bottom-right{
		flex-grow: 0;
		justify-content: center;
	}

}

.bigBLACK{

	position: fixed;
	left:-50%;
	top:-50%;
	width:200%;
	height: 200%;
	cursor: pointer;
	background-color: $BlackColor;
	opacity: 0.5;
	z-index: 55;

	transition-property: opacity;
	transition-duration: 1s;

	&.bigBLACK-off{
		opacity: 0;
		display: none;
	}
}


//---------------------------------------

.read{
	padding:0 50px;
	box-sizing: border-box;
	text-align: left;
	.title{
		text-align: center;
	}
	h1{
		color: $BlackColor;
		font-size: 40px;
		margin:50px 0;
		line-height: 60px;
		letter-spacing: 3px;
	}
	.word{
		display: inline-block;
		width:100%;
		min-height: 45px;
		line-height: 45px;
		color: $BlackColor;
		font-size: 16px;
		border-bottom:1px solid $LineColor;
	}
}

.welcome{
	p{
		margin:20px 0;
		color: $DeepFontColor;
		opacity:0.8;
	}
	h1{
		font-size: 32px;
		font-weight: 900;
		color: $DeepFontColor;
		opacity:0.8;
	}
}

.sideBox{

	position:fixed;

	max-width: $SideWidth;
	min-width: $SideWidth;
	width: $SideWidth;

	height:100vh;
	overflow-y: auto;

	display: flex;
	flex-grow: 0.8;
	flex-basis: 0%;

	right: 0;
	flex-direction: column;
	top:0;
	//padding-top: 10px;
	background-color: $WhiteColor;
	box-sizing: border-box;
	z-index: 60;

	transition-property: right;
	transition-duration: 0.5s;

	&.sideBox-off{
		right: -$SideWidth;
	}

	.header{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		min-height: $NavHeight;
		height: $NavHeight;
		background-color: rgba($MainColor,0.15);	

		img{
			width: 30px;
			height: 30px;
			//opacity: 0.8;
		}
		h1{
			display: inline-block;
			color: $MainColor;
			font-size: 14px;
			font-weight: 400;
			padding: 10px;
			letter-spacing: 1px;
			//opacity: 0.8;
		}
	}

	.sideBoxContent{

		position: relative;

		border-left: 1px solid $LineColor;
		border-bottom: 1px solid $LineColor;
		padding-top: 20px;
		padding: 10px;

		display: flex;
		flex-direction: column;
		flex-grow: 1;


		.content-title{

			$ContentTitleHeight: 20px;

			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-bottom: 15px;
			opacity: 0.9;

			img{
				width: $ContentTitleHeight;
				height: $ContentTitleHeight;
			}
			h1{
				margin: 0 10px;
				display: inline-block;
				font-size: 15px;
				line-height: $ContentTitleHeight;
				color: $MainColor;
				font-weight: 500;

			}
		}
		.content-item{
			display:inline-block;
			border-bottom: 1px dashed $LineColor;
			min-height: 50px;
			width: 100%;
			text-align: left;

			a{
				text-decoration-line: none;
				color: $DeepFontColor;


				p{
					width:100%;
					padding: 0 30px;
					height:100%;
					line-height: 50px;
					box-sizing: border-box;
					font-size: 15px;
					background-color: rgba($MainColor,0);

					transition-property: color, background-color;
					transition-duration: 0.4s, 0.4s;



					&:hover{
						color: $MainColor;
						background-color: rgba($MainColor,0.1);
					}
				}
			}
		}
		.content-item:last-child{
			border-style: none;
		}
		.content-container{

			padding: 20px 0;
			background-color: $LightColor;
			//border: 1px solid rgba($BlackColor, 0.08);
			border-radius: 25px;
			box-sizing: border-box;
		}

		.searchBar{
			display: flex;
			flex: 0;
			flex-direction: row;

			justify-content: center;
			align-items: center;
			vertical-align: middle;

			border-radius: 20px;
			border: 1px solid rgba($MainColor,0.3);
			background-color: rgba($MainColor,0.05);

			margin-bottom: 20px;

			min-height: 40px;
			height: 40px;
			max-height: 40px;

			//border-bottom: 1px solid $LineColor;
			box-sizing:border-box;

			.left-block{
				display: flex;
				flex: 1;
				//padding-right: 10px;
				box-sizing: border-box;
			}
			.right-block{
				display: flex;
				padding-right: 5px;
				width: 40px;
			}
			.searchTxt{

				font-size: 16px;
				height:40px;
				//margin:0 20px;
				//max-width: 300px;

				box-sizing: border-box;

				color:$MainColor;
				background-color: inherit;
				border-style:none;
				padding:5px 0 5px 20px;
				text-align: left;
				font-weight: 800;

				transition-duration: 0.4s;
				//transition-property: box-shadow;

				&:focus{
					//box-shadow: 0 0 5px rgba($MainColor,0.8);
				}
			}
			.searchBtn{

				display: inline-block;
				width: 40px;
				height: 40px;
				background-color: inherit;			
				border-style: none;						
				cursor: pointer;
				padding: 5px;
				box-sizing: border-box;

				img{
					width: 30px;
					height: 30px;
					padding: 0;
				}
			}
		}

		.searchListDiv{


			float: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin: 10px 0;
			overflow-y: auto;

			color:$DeepFontColor;
			text-align: center;

			.searchNone{
				font-size: 13px;
				margin:20px 0 0 0;
				text-align: center;
			}
		}

		.bookmarkDiv{

			text-align: center;
			margin: 10px 0;
			overflow-y: auto;

		}
	}
}

.bookmarkBtn{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 40px;
	cursor: pointer;
	border-radius: 25px;

	background-color: rgba($MainColor, 0.2);


	transition-property: transform, background-color;
	transition-duration: 0.4s, 1s;

	&:hover{
		transform: scale(1.1);
	}

	img{
		padding:13px;
		height:24px;
		width:24px;		
	}
	p{
		display: inline-block;
		height:40px;
		line-height:40px;
		color: $MainColor;
		padding-right: 20px;
	}
}
.bookmarkBtn-off{	
	background-color: rgba($BlackColor, 0.1);
	p{
		color: $DeepFontColor;
	}
}

.RandomDiv{
	margin: 80px 0;
	.div-title{
		color: $DeepFontColor;
		font-size: 20px;
		opacity: 0.3;
		margin: 20px;
	}

	.RandomList{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.RandomItem{

			background-color: $LightColor;	
			display: inline-block;
			width: 300px;
			height: 190px;
			cursor: pointer;
			margin: 20px 10px;
			padding: 15px;
			box-sizing: border-box;
			border-radius: 15px;
			overflow: hidden;
			
			box-shadow: 0 0 16px rgba($BlackColor, 0.25);

			transition-property: transform;
			transition-duration: 0.4s;


			&:hover{

				transform: scale(1.03);

				.title-container{
					height: 100px;
					min-height: 100px;
				}
			}

			.title-container{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 190px;
				min-height: 190px;

				transition-property: height, min-height;
				transition-duration: 0.5s;
			}

			.title{
				color: $DeepFontColor;
				font-size: 20px;
				margin-bottom: 15px;
				word-wrap: break-word;
			}
			.content{
				color: $DeepFontColor;
				font-size: 15px;
				text-align: left;
				line-height: 20px;
				height: 80px;
				margin-top: 10px;
				letter-spacing: 1px;
				opacity: 0.2;
			}
			.tag{
				opacity: 0.5;
			}
			a{
				display: inline-block;
				width: 100%;
				height: 100%;
			}
			.gradient {
				position: relative;
				top: -40px;
				height: 40px;
				width: 100%;

				$EndValue: 0.9;
				background: -moz-linear-gradient(top, rgba($LightColor,0) 0%, rgba($LightColor,$EndValue) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba($LightColor,0) 0%,rgba($LightColor,$EndValue) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba($LightColor,0) 0%,rgba($LightColor,$EndValue) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

			}
		}
	}
}

.bottomDiv{
	border-top: 1px solid $LineColor;
	img{
		width:40px;
		height:40px;
		padding:10px;
		border-radius: 10000px;
		opacity:0.2;

		transition-property: opacity, transform;
		transition-duration: 0.4s;

		&:hover{
			transform: scale(1.1);
			opacity:1;
		}

	}
	p{
		font-size: 13px;
		margin:50px 0;
	}
}

.halfOpacity{
	opacity: 0.3;
}

//---------------------------------------

.HeadO{	

	$HeadSize:80px;

	display: inline-block;
	height:$HeadSize;
	width:$HeadSize;
	text-align: center;
	background-color: $MainColor;
	margin: 30px;

	p{
		margin:0 !important;
		line-height: $HeadSize;
		color: white !important;
		font-size: $HeadSize / 3.5;
	}
	img{
		$Side:15px;
		width:$HeadSize - $Side*2;
		padding:$Side;
	}

	&-s{
		$HeadSize-s:40px;
		width:$HeadSize-s;
		height:$HeadSize-s;
		margin:10px;

		img{
			$Side:5px;
			width:$HeadSize-s - $Side*2;
			height:$HeadSize-s - $Side*2;
			padding:$Side;
		}
	}
}

.circle{
	border-radius: 10000px;
}


$TagColor: #666;
.tag{

	display: inline-block;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;

	color: $TagColor;
	background-color: rgba($TagColor,0.1);
	border-radius: 20px;



}

.text{
	&-right{ text-align: right;		}
	&-center{ text-align: center;	}
	&-left{ text-align: left;		}
}

.inline{
	display: inline-block;
	width:100%;
}
.pointer{
	cursor: pointer;
}

hide, .hide{
	display:none;
}


//縮去兩邊
@media screen and (max-width: 768px ) {

	.nav{
		text-align: center;

		.logo{
			margin-left:25px;
		}

		.nav-left{	
			.nav-title{		
				flex-grow: 1;
				.nav-title-item{
					padding-left: 0;
					justify-content: center;
				}
			}
		}
	}

	.container{
		width:100%;
		.read{
			padding:0 30px;

			.word{
				min-height: 35px;
				line-height: 35px;
				border-style: none;
				font-size: 15px;
			}
		}
	}

	.RandomDiv{
		.RandomList{
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0 30px;

			.RandomItem{
				min-width: 300px;

				.title-container{
					height: 110px;
					min-height: 110px;
				}

			}
		}
	}


	.sideBox{

		max-width: $SideWidth-s;
		min-width: $SideWidth-s;
		width: $SideWidth-s;
		right: 0;

		&.sideBox-off{
			right: -$SideWidth-s;
		}
	}


}





