html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

#app {
  text-align: center;
  outline: none;
  width: 100%;
  margin-left: -200px;
  transition-property: margin-left;
  transition-duration: 0.4s; }
  #app.sideBox-off {
    margin-left: 0; }

a {
  text-decoration-line: none !important;
  text-decoration: none !important; }

.nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(240, 240, 240, 0.95);
  box-sizing: border-box;
  padding: 0 0px;
  z-index: 50;
  overflow: hidden; }
  .nav img {
    width: 30px;
    height: auto;
    display: inline;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    vertical-align: middle; }
  .nav p {
    color: #4c9ed9;
    line-height: 50px;
    display: inline;
    cursor: pointer; }
  .nav .nav-left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    height: 70px;
    opacity: 0.9; }
    .nav .nav-left .nav-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: -70px;
      transition-property: margin-top;
      transition-duration: 0.2s; }
      .nav .nav-left .nav-title.story-title-off {
        margin-top: 70px; }
      .nav .nav-left .nav-title .nav-title-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 70px;
        height: 70px;
        min-height: 70px;
        max-height: 70px;
        width: 100%;
        max-width: 100%;
        padding-left: 20px; }
      .nav .nav-left .nav-title .story-title {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 500; }
      .nav .nav-left .nav-title .logo-title {
        letter-spacing: 1px;
        line-height: 70px;
        height: 70px; }
  .nav .nav-right {
    flex-grow: 0;
    width: 70px;
    justify-content: center;
    opacity: 0.9; }

.container {
  display: inline-block;
  width: 700px;
  padding: 70px 0; }

.read-bottom {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  height: 180px; }
  .read-bottom .read-bottom-left {
    flex-grow: 1;
    justify-content: flex-start;
    text-align: left; }
  .read-bottom .read-bottom-right {
    flex-grow: 0;
    justify-content: center; }

.bigBLACK {
  position: fixed;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  cursor: pointer;
  background-color: #5f6164;
  opacity: 0.5;
  z-index: 55;
  transition-property: opacity;
  transition-duration: 1s; }
  .bigBLACK.bigBLACK-off {
    opacity: 0;
    display: none; }

.read {
  padding: 0 50px;
  box-sizing: border-box;
  text-align: left; }
  .read .title {
    text-align: center; }
  .read h1 {
    color: #5f6164;
    font-size: 40px;
    margin: 50px 0;
    line-height: 60px;
    letter-spacing: 3px; }
  .read .word {
    display: inline-block;
    width: 100%;
    min-height: 45px;
    line-height: 45px;
    color: #5f6164;
    font-size: 16px;
    border-bottom: 1px solid rgba(95, 97, 100, 0.1); }

.welcome p {
  margin: 20px 0;
  color: #52606a;
  opacity: 0.8; }
.welcome h1 {
  font-size: 32px;
  font-weight: 900;
  color: #52606a;
  opacity: 0.8; }

.sideBox {
  position: fixed;
  max-width: 400px;
  min-width: 400px;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-grow: 0.8;
  flex-basis: 0%;
  right: 0;
  flex-direction: column;
  top: 0;
  background-color: #FFFFFF;
  box-sizing: border-box;
  z-index: 60;
  transition-property: right;
  transition-duration: 0.5s; }
  .sideBox.sideBox-off {
    right: -400px; }
  .sideBox .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 70px;
    height: 70px;
    background-color: rgba(76, 158, 217, 0.15); }
    .sideBox .header img {
      width: 30px;
      height: 30px; }
    .sideBox .header h1 {
      display: inline-block;
      color: #4c9ed9;
      font-size: 14px;
      font-weight: 400;
      padding: 10px;
      letter-spacing: 1px; }
  .sideBox .sideBoxContent {
    position: relative;
    border-left: 1px solid rgba(95, 97, 100, 0.1);
    border-bottom: 1px solid rgba(95, 97, 100, 0.1);
    padding-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .sideBox .sideBoxContent .content-container {
      padding: 20px 0;
      background-color: #F0F0F0;
      border-radius: 25px;
      box-sizing: border-box;
      text-align: center;
      margin: 10px 0;
      overflow-y: auto; }
    .sideBox .sideBoxContent .content-scroll {
      max-height: 40vh;
      overflow-y: auto; }
    .sideBox .sideBoxContent .content-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 15px;
      opacity: 0.9; }
      .sideBox .sideBoxContent .content-title img {
        width: 20px;
        height: 20px; }
      .sideBox .sideBoxContent .content-title h1 {
        margin: 0 10px;
        display: inline-block;
        font-size: 15px;
        line-height: 20px;
        color: #4c9ed9;
        font-weight: 500; }
    .sideBox .sideBoxContent .content-item {
      display: inline-block;
      border-bottom: 1px dashed rgba(95, 97, 100, 0.1);
      min-height: 50px;
      width: 100%;
      text-align: left; }
      .sideBox .sideBoxContent .content-item a {
        text-decoration-line: none;
        color: #52606a; }
        .sideBox .sideBoxContent .content-item a p {
          width: 100%;
          padding: 0 30px;
          height: 100%;
          line-height: 50px;
          box-sizing: border-box;
          font-size: 15px;
          background-color: rgba(76, 158, 217, 0);
          transition-property: color, background-color;
          transition-duration: 0.4s, 0.4s; }
          .sideBox .sideBoxContent .content-item a p:hover {
            color: #4c9ed9;
            background-color: rgba(76, 158, 217, 0.1); }
    .sideBox .sideBoxContent .content-item:last-child {
      border-style: none; }
    .sideBox .sideBoxContent .searchBar {
      display: flex;
      flex: 0;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      border-radius: 20px;
      border: 1px solid rgba(76, 158, 217, 0.3);
      background-color: rgba(76, 158, 217, 0.05);
      margin-bottom: 20px;
      min-height: 40px;
      height: 40px;
      max-height: 40px;
      box-sizing: border-box; }
      .sideBox .sideBoxContent .searchBar .left-block {
        display: flex;
        flex: 1;
        box-sizing: border-box; }
      .sideBox .sideBoxContent .searchBar .right-block {
        display: flex;
        padding-right: 5px;
        width: 40px; }
      .sideBox .sideBoxContent .searchBar .searchTxt {
        font-size: 16px;
        height: 40px;
        box-sizing: border-box;
        color: #4c9ed9;
        background-color: inherit;
        border-style: none;
        padding: 5px 0 5px 20px;
        text-align: left;
        font-weight: 800;
        transition-duration: 0.4s; }
      .sideBox .sideBoxContent .searchBar .searchBtn {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: inherit;
        border-style: none;
        cursor: pointer;
        padding: 5px;
        box-sizing: border-box; }
        .sideBox .sideBoxContent .searchBar .searchBtn img {
          width: 30px;
          height: 30px;
          padding: 0; }
    .sideBox .sideBoxContent .searchListDiv {
      float: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      color: #52606a; }

.tip-text {
  font-size: 13px;
  margin: 20px 0 0 0;
  text-align: center; }
  .tip-text p {
    opacity: 0.5;
    color: #52606a; }

.bookmarkBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(76, 158, 217, 0.2);
  transition-property: transform, background-color;
  transition-duration: 0.4s, 1s; }
  .bookmarkBtn:hover {
    transform: scale(1.1); }
  .bookmarkBtn img {
    padding: 13px;
    height: 24px;
    width: 24px; }
  .bookmarkBtn p {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #4c9ed9;
    padding-right: 20px; }

.bookmarkBtn-off {
  background-color: rgba(95, 97, 100, 0.1); }
  .bookmarkBtn-off p {
    color: #52606a; }

.RandomDiv {
  margin: 80px 0; }
  .RandomDiv .div-title {
    color: #52606a;
    font-size: 20px;
    opacity: 0.3;
    margin: 20px; }
  .RandomDiv .RandomList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .RandomDiv .RandomList .RandomItem {
      background-color: #F0F0F0;
      display: inline-block;
      width: 300px;
      height: 190px;
      cursor: pointer;
      margin: 20px 10px;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 15px;
      overflow: hidden;
      transition-property: transform;
      transition-duration: 0.4s; }
      .RandomDiv .RandomList .RandomItem:hover {
        transform: scale(1.03); }
        .RandomDiv .RandomList .RandomItem:hover .title-container {
          height: 100px;
          min-height: 100px; }
      .RandomDiv .RandomList .RandomItem .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 190px;
        min-height: 190px;
        transition-property: height, min-height;
        transition-duration: 0.5s; }
      .RandomDiv .RandomList .RandomItem .title {
        color: #52606a;
        font-size: 20px;
        margin-bottom: 15px;
        word-wrap: break-word; }
      .RandomDiv .RandomList .RandomItem .content {
        color: #52606a;
        font-size: 15px;
        text-align: left;
        line-height: 20px;
        height: 80px;
        margin-top: 10px;
        letter-spacing: 1px;
        opacity: 0.2; }
      .RandomDiv .RandomList .RandomItem .tag {
        opacity: 0.5; }
      .RandomDiv .RandomList .RandomItem a {
        display: inline-block;
        width: 100%;
        height: 100%; }
      .RandomDiv .RandomList .RandomItem .gradient {
        position: relative;
        top: -40px;
        height: 40px;
        width: 100%;
        background: -moz-linear-gradient(top, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.9) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.9) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.9) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.bottomDiv {
  border-top: 1px solid rgba(95, 97, 100, 0.1); }
  .bottomDiv img {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10000px;
    opacity: 0.2;
    transition-property: opacity, transform;
    transition-duration: 0.4s; }
    .bottomDiv img:hover {
      transform: scale(1.1);
      opacity: 1; }
  .bottomDiv p {
    font-size: 13px;
    margin: 50px 0; }

.halfOpacity {
  opacity: 0.3; }

.HeadO {
  display: inline-block;
  height: 80px;
  width: 80px;
  text-align: center;
  background-color: #4c9ed9;
  margin: 30px; }
  .HeadO p {
    margin: 0 !important;
    line-height: 80px;
    color: white !important;
    font-size: 22.8571428571px; }
  .HeadO img {
    width: 50px;
    padding: 15px; }
  .HeadO-s {
    width: 40px;
    height: 40px;
    margin: 10px; }
    .HeadO-s img {
      width: 30px;
      height: 30px;
      padding: 5px; }

.circle {
  border-radius: 10000px; }

.tag {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  color: #666;
  background-color: rgba(102, 102, 102, 0.1);
  border-radius: 20px; }

.text-right {
  text-align: right; }
.text-center {
  text-align: center; }
.text-left {
  text-align: left; }

.inline {
  display: inline-block;
  width: 100%; }

.pointer {
  cursor: pointer; }

hide, .hide {
  display: none; }

@media screen and (max-width: 768px) {
  .nav {
    text-align: center; }
    .nav .logo {
      margin-left: 25px; }
    .nav .nav-left .nav-title {
      flex-grow: 1; }
      .nav .nav-left .nav-title .nav-title-item {
        padding-left: 0;
        justify-content: center; }

  .container {
    width: 100%; }
    .container .read {
      padding: 0 30px; }
      .container .read .word {
        min-height: 35px;
        line-height: 35px;
        border-style: none;
        font-size: 15px; }

  .RandomDiv .RandomList {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px; }
    .RandomDiv .RandomList .RandomItem {
      min-width: 300px; }
      .RandomDiv .RandomList .RandomItem .title-container {
        height: 110px;
        min-height: 110px; }

  .sideBox {
    max-width: 300px;
    min-width: 300px;
    width: 300px;
    right: 0; }
    .sideBox.sideBox-off {
      right: -300px; } }

/*# sourceMappingURL=main.css.map */
