@import "reset";

$MainColor: #4c9ed9;
$WhiteColor: #FFFFFF;
$BlackColor: #5f6164;

$MixValue:0.2;
$DeepFontColor:#52606a ;//(#4c9ed9*$MixValue + #414141*(1 - $MixValue)); //#414141;

$LineColor:  rgba($BlackColor, 0.1); 

$NavHeight: 70px;
$SideWidth: 300px;

body {
	-moz-user-select : none;
	-webkit-user-select: none;
	user-select: none;
}
#app{
	text-align: center;
	outline: none;
    width: 100%;
}

.nav{
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $NavHeight;
	background-color: rgba($WhiteColor, 0.9); box-shadow: 0 0 30px $WhiteColor ;
	box-sizing: border-box;
	padding:0 0px;
	z-index: 50;

	img{
		width: 30px;
		height: auto;
        display: inline;
		cursor: pointer;
        padding: 10px;
        vertical-align: middle;
	}
	p{
		color: $MainColor;
		line-height: 50px;
        display: inline;
		cursor: pointer;
	}
    
    .nav-left{
        flex-grow: 1;
        justify-content: flex-start;
        text-align: left;
        padding-left: 10px;
    }
    .nav-right{
        flex-grow: 0;
        width: $NavHeight;
        justify-content: center;
    }

}
.container{
	display: inline-block;
	width: 700px;
	padding: 70px 0;
}


.read-bottom{
    
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100px;
    
    .read-bottom-left{
        
        flex-grow: 1;
        justify-content: flex-start;
        text-align: left;
    }
    .read-bottom-right{
        flex-grow: 0;
        justify-content: center;
    }
    
}




.bigBLACK{
	position: fixed;
	left:-50%;
	top:-50%;
	width:200%;
	height: 200%;
	cursor: pointer;

	background-color: $WhiteColor;
	opacity:0;

}


//---------------------------------------

.read{
	padding:0 50px;
	box-sizing: border-box;
	text-align: left;
	.title{
		text-align: center;
	}
	h1{
		color: $BlackColor;
		font-size: 40px;
		margin:50px 0;
		line-height: 60px;
	}
	.word{
		display: inline-block;
		width:100%;
		min-height: 45px;
		line-height: 45px;
		color: $BlackColor;
		font-size: 15px;
		border-bottom:1px solid $LineColor;
	}
}

.welcome{
	p{
		margin:20px 0;
		color: $DeepFontColor;
		opacity:0.8;
	}
	h1{
		font-size: 32px;
		font-weight: 900;
		color: $DeepFontColor;
		opacity:0.8;
	}
}




.sideBox{
    
	position:fixed;
    
	max-width: $SideWidth;
	height:100vh;
    
	display: flex;
    flex-grow: 0.8;
    flex-basis: 0%;
    
    flex-direction: column;
	top:0;
	right: -$SideWidth;
	padding-top: 10px;
	background-color: $WhiteColor;
	box-sizing: border-box;
	z-index: 60;


    .sideBoxSelect{	

        display: flex;
        justify-content: space-around;
        align-items: center;

        height:60px;

        .sideBoxSelectItem{

            width: $SideWidth/2;
            height: 60px;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            border-color: $LineColor;
            border-width: 1px;


            .sideBoxSelectItem-Img{
                height: 40px;
                width: auto;

                transition-duration: 0.4s;
                transition-property: opacity, transform;
            }
        }

        .sideBoxSelectItem-on{

            border-style: solid solid none solid;

            .sideBoxSelectItem-Img{
                transform: scale(1.1);
                opacity:1;
            }
        }

        .sideBoxSelectItem-off{

            border-style: none none solid none;

            .sideBoxSelectItem-Img{
                transform: scale(1);
                opacity:0.3;
            }
        }
    }

    .sideBoxContent{

        border-left: 1px solid $LineColor;
        border-bottom: 1px solid $LineColor;
        padding-top: 20px;
        
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        .searchBar{
            display: flex;
            flex:1;
            
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            
            max-height: 70px;
            
            margin: 0 10px;
            padding: 10px 0;
            
            border-bottom: 1px solid $LineColor;	
            
            .searchTxt{
                display:inline-block;

                font-size: 16px;
                height:40px;
                margin:0 10px;
                width:200px;

                box-sizing: border-box;

                color:$MainColor;
                background-color: inherit;
                border-style:none;
                border: 1px solid rgba($MainColor,0.5);
                padding:5px 10px;
                text-align: center;
                font-weight: 800;

                transition-duration: 0.4s;
                transition-property: box-shadow;

                &:focus{
                    box-shadow: 0 0 5px rgba($MainColor,0.8);
                }
            }
            .searchBtn{

                display: inline-block;
                width: 40px;
                height: 40px;
                padding: 0;
                margin-left: 10px;
                background-color: inherit;			
                border-style: none;						
                cursor: pointer;

                img{
                    width: 40px;
                    height: 40px;
                    padding: 0;
                }
            }
        }
        .searchListDiv{

            float:none;
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            overflow-y: auto;

            color:$DeepFontColor;
            text-align: center;
	

            .searchItem{
                display:inline-block;
                border-bottom: 1px dashed $LineColor;
                height: 50px;
                width:80%;
                font-size: 14px;
                text-align: left;
                a{
                    text-decoration-line: none;
                    color: $DeepFontColor;
                    p{
                        width:100%;
                        height:100%;
                        line-height: 60px;

                        transition-duration: 0.4s;
                        transition-property: color,margin;

                        &:hover{
                            color: $MainColor;
                            margin-left:-5px;
                        }
                    }
                }
            }
            .searchNone{
                font-size: 13px;
                margin:20px 0;
                text-align: center;
            }
        }

        .bookmark{
            text-align: center;
            padding: 20px 40px;
            margin: 20px 0;
            overflow-y: auto;

            img{
                width:40px;
                height:40px;
            }

            .bookmarkItem{
                display:inline-block;
                border-bottom: 1px dashed $LineColor;
                min-height: 50px;
                width:100%;
                font-size: 14px;
                text-align: left;

                a{
                    text-decoration-line: none;
                    color: $DeepFontColor;


                    p{
                        width:100%;
                        height:100%;
                        line-height: 50px;

                        transition-duration: 0.4s;
                        transition-property: color, margin;


                        &:hover{
                            margin-left:-5px;
                            color: $MainColor;
                        }
                    }
                }
            }
        }
    }

}

.bookmarkBtn{

    display: inline-block;
    width:50px;
    height:50px;
    cursor: pointer;


    transition-duration: 0.4s;
    transition-property: transform;

    &:hover{
        transform: scale(1.1);
    }

    img{
        padding:5px;
        height:40px;
        width:40px;		
    }
    p{
        display: inline-block;
        height:40px;
        line-height:40px;
        color: $DeepFontColor;
        padding: 0 10px;
    }
}

.GetRandom{

	background-color: $MainColor;	
	display: inline-block;
	width: 60px;
	height:60px;
	margin: 80px 0;
	cursor: pointer;

	box-shadow: 0 0 10px rgba(black,0.2);

	img{
		width: 30px;
		height: 30px;
		padding:15px;
	}

	transition-property: transform;
	transition-duration: 0.4s;
	&:hover{
		transform: scale(1.1);
	}
}


.bottomDiv{
	border-top: 1px solid $LineColor;
	img{
		width:40px;
		height:40px;
		padding:10px;
		border-radius: 10000px;
		opacity:0.2;

		transition-property: opacity, transform;
		transition-duration: 0.4s;

		&:hover{
			transform: scale(1.1);
			opacity:1;
		}

	}
	p{
		font-size: 13px;
		margin:50px 0;
	}
}

.halfOpacity{
	opacity: 0.3;
}

//---------------------------------------

.HeadO{	

	$HeadSize:80px;

	display: inline-block;
	height:$HeadSize;
	width:$HeadSize;
	text-align: center;
	background-color: $MainColor;
	margin: 30px;

	p{
		margin:0 !important;
		line-height: $HeadSize;
		color: white !important;
		font-size: $HeadSize / 3.5;
	}
	img{
		$Side:15px;
		width:$HeadSize - $Side*2;
		padding:$Side;
	}

	&-s{
		$HeadSize-s:40px;
		width:$HeadSize-s;
		height:$HeadSize-s;
		margin:10px;

		img{
			$Side:5px;
			width:$HeadSize-s - $Side*2;
			height:$HeadSize-s - $Side*2;
			padding:$Side;
		}
	}
}

.circle{
	border-radius: 10000px;
}


$TagColor: #666;
.tag{
    
    display: inline;
	font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 12px;
    color: $TagColor;
    border: rgba($TagColor,0.3) 1px solid;
    border-radius: 5px;
    
    
    
}

.text{
	&-right{ text-align: right;		}
	&-center{ text-align: center;	}
	&-left{ text-align: left;		}
}

.inline{
	display: inline-block;
	width:100%;
}
.pointer{
	cursor: pointer;
}

hide, .hide{
	display:none;
}


//縮去兩邊
@media screen and (max-width:1000px ) {

	.nav{
		text-align: center;

		.logo{
			margin-left:25px;
		}

	}

	.container{
		width:100%;
		.read{
			padding:0 30px;

			.word{
				min-height: 35px;
				line-height: 35px;
				border-style: none;
			}
		}
	}

	.GetRandom{
		width:80px;
		height:80px;

		img{
			width:100%;
			height:100%;
			box-sizing: border-box;
		}
	}
}





